<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="http://diegocode.netlify.app">Diego Hernandez</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>

    <!--scripts-->
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
   <script>
    flatpickr("#myID", 
    {
    "enableTime": true,
    altInput: true,
    altFormat: "F j, Y",
    dateFormat: "Y-m-d",
    minTime: "16:00",
    maxTime: "22:00",
    enable: [
        function(date) {
            // return true to enable

            return (date.getMonth() % 2 === 0 && date.getDate() < 15);

        }
    ]
    }
    );
   </script>
 </body>
</html>