<body>
  <nav class="navbar is-white has-shadow">
    <!-- logo / brand -->
    <div class="navbar-brand">
        <a class="navbar-item">
          
        </a>
        <a class="navbar-burger" id = burger>
          <span></span>
          <span></span>
          <span></span>
        </a>
    </div>
  
    <div class="navbar-menu navbar-end" id="nav-links">
      <!-- right links -->
     
        <a class="navbar-item">Log in</a>
        <a class="navbar-item">Booking With Me</a>
    </div>
  </nav>
