
<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main>
<div id="tabed"class="tabs is-centered is-large">
    <ul>
        <li class="is-active" data-target="appointment">
            <a>Choose Appointment</a>
        </li>
        <li data-target="info">
            <a >Your Info</a>
        </li>
        <li data-target="conf">
            <a >Confirmation</a>
        </li>
    </ul>
  </div>
  <div class="px-2" id="tab-content">
    <div id="appointment">
        <h3 class="is-size-5- title  has-text-centered">Select Service</h3>
        <div class="calendar has-background-info hero is-medium is-align-items-center">
            <div class="√">
                <form>
                    <div class="is-align-items-center section">
                        <div class="field">
                            <label class="label is-size-4 has-text-centered">Choose Time</label>
                            <!-- <input id="party" type="datetime-local" name="partydate"
                               min="2017-06-01T08:30" max="2017-06-30T16:30"
                               pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}" 
                               class="input has-background-light is-medium is-focused" 
                               required> -->
                               <input id="myID" type="datetime-local" class="is-medium input">
                            <input type="submit" value="Book appointment☀️!"class="button is-grey-light">
                        </div>
                    </div>
                  </form>
                  
              </div>
        </div>
    </div>
    <div id="info" class="is-hidden">
        <h3 class="is-size-5- title ">info</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, minima!</p>
    </div>
    <div id="conf" class="is-hidden">
        <h3 class="is-size-5 title">conf</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, minima!</p>
    </div>
  </div>
</main>  
<%- include('../partials/footer') %>